.cartbox{
    .container{
        // width: 100%;
        font-size:20px;
        height:100%;
        padding:0;
        border:1px solid #ccc;
        position: relative;
         margin-top:1px;
    }
}
 .cartbox .button {  
                    background-color: white;  
                    border: 1px solid #ACB4BE;  
                    color: #536277;  
                    display: inline-block;
                    width: 18px;
                    height: 20px;  
                    float: right;  
                    font-size: 10px;  
                    
                    text-align: center;  
                    text-decoration: none;  
                    &:nth-child(3) {  
                        border-bottom-left-radius: 10px;  
                        border-top-left-radius: 10px;  
                        border-right: 0;  
                        color: #A9B1BB;  
                    }  
                    &:nth-child(1) {  
                        border-bottom-right-radius: 10px;  
                        border-top-right-radius: 10px;  
                        border-left: 0;  
                    }  
                }
      .cartbox #carlist{
        // height: 560px;
        border:1px solid #ccc;
      } 
     .cartbox #carlist>div{
          height: 120px;
          width:100%;
          border-bottom: 1px solid #ccc;

     }
    .cartbox #carlist div>img{
         float:left;
         width: 100px;
         height: 100px;
    } 

  .cartbox #carlist div div{
      float:left;
      font-size: 12px;

  }
  .cartbox #carlist div div h4{
       color:#0088CC;  
       font-size: 14px;
  }

  .cartbox #carlist div  .btngroup{
       padding-top: 10px;
        overflow:hidden;
        /*height: 20px;*/
        display:inline-block;
        padding-left: 16px;


  }
  .cartbox #carlist div .price{
      padding-top:10px ;
      padding-left: 52px;
      display:inline-block;
      font-size: 12px;

  }

  .cartbox #carlist div .price  p:last-child{
     color:#FF4552;
         }
   .cartbox #carlist div .tprice{
      padding-top:10px ;
      padding-left: 112px;
      display:inline-block;
      font-size: 12px;

  }
  .cartbox #carlist div .tprice  p:first-child{
         text-decoration: line-through;
  }
  .cartbox #carlist div .tprice  p:last-child{
     color:#228D46;
         }
  .cartbox #carlist div .remove{
       display:inline-block;
       padding-left: 85px;
       padding-top: 42px;
  }
  .cartbox #carlist div .remove:hover{
       color: red;
  }
  .cartbox  ul{
      line-height: 36px;
      border:1px solid #ccc;
  }
  .cartbox  ul li{
      font-size: 14px;
      line-height: 36px;
  }
 .cartbox  ul li:first-child{
     margin-right: 458px;
 }
 .cartbox  ul li:nth-child(2){
      margin-right: 58px;
 }
 .cartbox  ul li:nth-child(3){
    margin-right: 105px;
 }
 .cartbox  ul li:nth-child(4){
    margin-right: 82px;
 }
 .cartbox  ul li{
     float: left;
 }
 .cartbox .total a{
      font-size: 14px;
 }
 .cartbox .ctotal{
      display:inline-block;
      float:right;
      padding-right: 34px;
      font-size: 12px;
 }
 .cartbox #cartotal {
     color:#FF4500;
     font-size: 16px;
 }
 .cartbox .ctotal p:nth-child(2){
    color:#628B86;
     
 }
 .cartbox .title{
     padding-bottom: 20px;
 }
 .cartbox .box{
      width: 980px;
      height: 188px;
      overflow:hidden;
      position:relative;
}
.cartbox .box ul{
   position:absolute;
}
.cartbox .box ul li{
      width: 133px;
      float:left;
      margin-right: 30px;

}
.cartbox .box ul li h4{
     font-size: 12px;
}
.cartbox .box ul li span{
     font-size: 12px;
}
.cartbox .box ul li img:last-child{
     padding-top: 7px;
}
.cartbox .container{
     position:relative;
}
.cartbox .left{
  display:inline;
  position:absolute;
  top:91px;
  left:-26px;
}
.cartbox .right{
  display:inline;
  position:absolute;
  top:91px;
  left:930px;
}
.cartbox ul li span:nth-child(3){
      text-decoration: line-through;
}
.cartbox ul li span:nth-child(4){
      color:#FF4500;
}
