.detailbox{
    .container{
        position:relative;
        .goodimg{
            width: 330px;
            // height: 330px;
            border:1px solid #ccc;
            // padding:10px;
            position:relative;
            display:inline-block;
            img{
                width: 100%;
            }

        }
        .state{
            display:inline-block;
            color:black;
            position:absolute;
             font-size:24px;
             width: 100%;
            .goodname{
                font-size:20px;
                height:60px; 
                
                margin:10px;
            }
            .price{
                margin:20px;
                color:#e31436;
            }
            .qty{
                margin:20px;
                position:relative;
                .btngroup{
                    position:absolute;
                    left:100px;
                    top:0;
                }
                .button {  
                    background-color: white;  
                    border: 1px solid #ACB4BE;  
                    color: #536277;  
                    display: inline-block;
                    width: 25px;
                    height: 20px;  
                    float: right;  
                    font-size: 10px;  
                    
                    text-align: center;  
                    text-decoration: none;  
                    &:nth-child(3) {  
                        border-bottom-left-radius: 10px;  
                        border-top-left-radius: 10px;  
                        border-right: 0;  
                        color: #A9B1BB;  
                    }  
                    &:nth-child(1) {  
                        border-bottom-right-radius: 10px;  
                        border-top-right-radius: 10px;  
                        border-left: 0;  
                    }  
                }

            }
            .buybtn{
                display:block;
                margin:20px;
                background:#e31436;
                height:60px;
                border-radius:5%; 
                a{
                    display:block;
                    width: 100%;
                    text-decoration:none;
                }
            }
        }
    }
}