#aboutNEST { color: #c2c2c2; position: relative; padding: 20px 0; background: #333; line-height: 26px; text-align: center; }

#aboutNEST a { color: #c2c2c2; text-decoration: none; }

#aboutNEST a i { height: 30px; margin: 5px 15px 0 0; }

#aboutNEST a .footer1 { display: inline-block; width: 18px; height: 20px; background: url("../img/1.fw.png") -50px 0; }

#aboutNEST a .footer2 { display: inline-block; width: 114px; height: 41px; background: url("../img/1.fw.png") -200px -200px; }

#aboutNEST a .footer3 { display: inline-block; width: 127px; height: 47px; background: url("../img/1.fw.png") -200px -120px; }

#aboutNEST a .footer4 { display: inline-block; width: 53px; height: 63px; background: url("../img/1.fw.png") -100px 0; }

#btmlist { padding: 40px 0; border-bottom: 1px solid #eaeaea; zoom: 1; }

#btmlist li { float: left; width: 25%; padding-left: 56px; position: relative; }

#btmlist li .desc { font-size: 14px; display: block; line-height: 22px; }

#btmlist li .tit { font-size: 18px; font-weight: bold; display: block; line-height: 22px; }

#btmlist li i.w-icon-23 { position: absolute; left: 0; display: block; width: 46px; height: 44px; background: url("../img/icon1.fw.png") -750px 0; }

#guideList li { float: left; width: 110px; padding: 0 0 0 25px; height: 128px; border-left: 1px solid #eaeaea; position: relative; }

#guideList li .logokaola { display: block; width: 230px; height: 42px; line-height: 45px; margin-bottom: 20px; outline: none; cursor: pointer; z-index: 9; position: absolute; left: -42px; top: 0; background: url("../img/1.fw.png") -350px 0; }

#guideList li a { color: #333; cursor: pointer; }

#guideList li dt { margin: -4px 0 10px; }

#guideList li dt em { font-size: 18px; font-weight: normal; }

#guideList li dd { line-height: 24px; }

#guideList li .focuson { height: 32px; position: absolute; left: 4px; top: 70px; }

#guideList li .focuson .labell, #guideList li .focuson .itm { display: inline-block; vertical-align: middle; }

#guideList li .focuson .m-notice { position: absolute; left: -44px; top: 42px; display: none; z-index: 10; background: #fff; text-align: center; color: #333; border: solid 1px #ededee; padding: 10px; }

#guideList li .focuson .m-notice .arrow { position: absolute; left: 52px; top: 0; right: auto; }

#guideList li .focuson .m-notice .arr { top: -16px; border-color: transparent transparent #ededee transparent; position: absolute; left: 0; border-width: 8px; border-style: dashed dashed solid dashed; width: 0; height: 0; font-size: 0; right: -18px; }

#guideList li .focuson .m-notice .arr1 { right: -17px; }

#guideList li .focuson .itm { position: relative; margin-left: 10px; cursor: pointer; }

#guideList li .focuson .itm:hover span { display: block; }

#guideList li .focuson .itm .w-icon-24 { display: inline-block; width: 32px; height: 32px; background: url("../img/icon1.fw.png") -752px -69px; }

#guideList li .focuson .itm .w-icon-24-1 { background: url("../img/icon1.fw.png") -796px -69px; }

#guideList li .focuson .itm .w-icon-24-2 { background: url("../img/icon1.fw.png") -840px -69px; }

#guideList { padding: 90px; }

#guideList .first { width: 194px; padding-right: 40px; padding-left: 30px; }

#guideList .last { margin-left: 10px; }

#guideList .item { width: 108px; padding: 0; text-align: center; float: left; }
